Repository martinrehfeld/nautilus_trader: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-non-latin-text, check-toml-codegen, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, check-cargo-conventions, fmt, cargo-clippy

check-non-latin-text:
  name: check non-Latin text
  description: Detect non-Latin characters (CJK, Cyrillic, Arabic, etc.) to enforce English-only
  entry: .pre-commit-hooks/check_non_latin_text.sh
  language: script

check-toml-codegen:
  name: check toml-codegen
  description: Ensures TOML files don't contain the 'codegen-backend' keyword
  entry: .pre-commit-hooks/check_toml_codegen.sh
  language: script

check-copyright-year:
  name: check copyright year
  description: Ensures copyright headers have current year
  entry: .pre-commit-hooks/check_copyright_year.sh
  language: script
  pass_filenames: false

check-anyhow-usage:
  name: check anyhow usage
  description: Enforces anyhow conventions
  entry: .pre-commit-hooks/check_anyhow_usage.sh
  language: script
  pass_filenames: false

check-logging-macro-usage:
  name: check logging macro usage
  description: Enforces logging macro conventions
  entry: .pre-commit-hooks/check_logging_macro_usage.sh
  language: script
  pass_filenames: false

check-tokio-usage:
  name: check tokio usage
  description: Enforces tokio usage conventions
  entry: .pre-commit-hooks/check_tokio_usage.sh
  language: script
  pass_filenames: false

check-pyo3-conventions:
  name: check pyo3 conventions
  description: Enforces PyO3 naming conventions
  entry: .pre-commit-hooks/check_pyo3_conventions.sh
  language: script
  pass_filenames: false

check-testing-conventions:
  name: check testing conventions
  description: Enforces testing standardizations and conventions
  entry: .pre-commit-hooks/check_testing_conventions.sh
  language: script
  pass_filenames: false

check-nautilus-conventions:
  name: check nautilus conventions
  description: Enforces Nautilus type usage conventions
  entry: .pre-commit-hooks/check_nautilus_conventions.sh
  language: script
  pass_filenames: false

check-cargo-conventions:
  name: check cargo conventions
  description: Enforces Cargo.toml dependency ordering conventions
  entry: .pre-commit-hooks/check_cargo_conventions.sh
  language: script
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format files with cargo fmt
  entry: bash .pre-commit-hooks/cargo_fmt_stable.sh
  language: system
  args:
  - --all
  - --
  - --check
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run the Clippy linter on the workspace
  entry: cargo clippy
  language: system
  args:
  - --workspace
  - --all-targets
  - --features
  - ffi,python,high-precision,defi
  - --profile
  - nextest
  - --
  - -D
  - warnings
  pass_filenames: false

Point Docker build to my forked repo/package
  .docker/nautilus_trader.dockerfile
  Makefile
Due: none

Revert "Add `httpx` dependency for Alpaca adapter"
  pyproject.toml
Due: check-non-latin-text, check-toml-codegen, fmt, cargo-clippy

Fix tests and simplify parsing
  crates/adapters/alpaca/src/common/models.rs
  crates/adapters/alpaca/src/common/parse.rs
  crates/adapters/alpaca/src/websocket/messages.rs
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Subscribe to updates in AlpacaExecutionClient
  crates/adapters/alpaca/src/common/enums.rs
  crates/adapters/alpaca/src/common/mod.rs
  crates/adapters/alpaca/src/common/urls.rs
  crates/adapters/alpaca/src/config.rs
  crates/adapters/alpaca/src/data/mod.rs
  crates/adapters/alpaca/src/providers/mod.rs
  crates/adapters/alpaca/src/python/websocket.rs
  crates/adapters/alpaca/src/websocket/client.rs
  nautilus_trader/adapters/alpaca/config.py
  nautilus_trader/adapters/alpaca/data.py
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Add draft for OrderFill handler
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Remove keyword argument 'account_id'
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Fix additional arguments to generate_order_filled
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Skip OrderFills if Order not tracked in Cache
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Update comments
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Re-add lost strategy_id argumebt
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Parse order fill time stamp
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Fix access of `filled_at` key for order data
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Fix python integration tests
  crates/adapters/alpaca/src/python/margin.rs
  tests/integration_tests/adapters/alpaca/conftest.py
  tests/integration_tests/adapters/alpaca/test_config.py
  tests/integration_tests/adapters/alpaca/test_execution.py
  tests/integration_tests/adapters/alpaca/test_providers.py
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Use Rust AlpacaWebSocketClient for execution
  crates/adapters/alpaca/src/python/websocket.rs
  crates/adapters/alpaca/src/websocket/client.rs
  crates/adapters/alpaca/src/websocket/handler.rs
  nautilus_trader/adapters/alpaca/execution.py
  tests/integration_tests/adapters/alpaca/conftest.py
  tests/integration_tests/adapters/alpaca/test_execution.py
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Temporarily fix AlpacaDataClient
  crates/adapters/alpaca/src/python/websocket.rs
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Take note of AccountState error
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Fix Alpaca EMACross example
  examples/live/alpaca/alpaca_equity_ema_cross.py
Due: check-non-latin-text, check-copyright-year

Clean up AlpacaExecutionClient (Python)
  nautilus_trader/adapters/alpaca/execution.py
Due: check-non-latin-text, check-copyright-year

Use Rust AlpacaWebSocketClient for data
  crates/adapters/alpaca/src/python/websocket.rs
  crates/adapters/alpaca/src/websocket/client.rs
  crates/adapters/alpaca/src/websocket/handler.rs
  nautilus_trader/adapters/alpaca/data.py
Due: check-non-latin-text, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, fmt, cargo-clippy

Fix and improve AlpacaDataClient
  Cargo.lock
  crates/adapters/alpaca/Cargo.toml
  crates/adapters/alpaca/src/python/websocket.rs
  crates/adapters/alpaca/src/websocket/client.rs
  crates/adapters/alpaca/src/websocket/handler.rs
Due: check-non-latin-text, check-toml-codegen, check-copyright-year, check-anyhow-usage, check-logging-macro-usage, check-tokio-usage, check-pyo3-conventions, check-testing-conventions, check-nautilus-conventions, check-cargo-conventions, fmt, cargo-clippy

Fix connected? checks in AlpacaDataClient
  nautilus_trader/adapters/alpaca/data.py
Due: check-non-latin-text, check-copyright-year

Path conditions:
  check-non-latin-text: any of: \.(rs|py|pyx|md|toml|yaml|yml)$
  check-toml-codegen: any of: \.toml$
  check-copyright-year: any of: \.rs$, \.py$
  check-anyhow-usage: any of: \.rs$
  check-logging-macro-usage: any of: \.rs$
  check-tokio-usage: any of: \.rs$|Cargo\.toml$
  check-pyo3-conventions: any of: \.rs$
  check-testing-conventions: any of: \.rs$
  check-nautilus-conventions: any of: \.rs$
  check-cargo-conventions: any of: Cargo\.toml$
  fmt: any of: \.(rs|toml)$
  cargo-clippy: any of: \.(rs|toml)$
